{% extends "FrontendBundle:Layout:base.html.twig" %}

{% block content %}

    <div class="container">

        {% include 'FrontendBundle:Layout:breadcrumb.html.twig' %}

        {% if error %}
            <div class="alert alert-danger"><strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong></div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <input type="hidden" name="{{ path('dashboard_main') }}" value="/account" />

            <div class="form-group">
                <label>
                    Email:
                </label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">
            </div>
        <div class="form-group">
            <label>
                Password:
            </label>
            <input class="form-control" type="password" id="password" name="_password">
        </div>
        <button type="submit" class="btn btn-primary">
            LogIn
        </button>
        </form>

    </div>

{% endblock %}