{% extends "FrontendBundle:Layout:base.html.twig" %}

{% block content %}

    <div class="container">

        {% include 'FrontendBundle:Layout:breadcrumb.html.twig' %}

        {% if errors|length > 0 %}
            <div class="alert alert-danger">
                {% for error in errors %}
                    <strong>{{ error }}</strong>
                {% endfor %}
            </div>
        {% endif %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
