{% extends "FrontendBundle:Layout:base.html.twig" %}

{% block content %}

    <div class="container">

        {% include 'FrontendBundle:Layout:breadcrumb.html.twig' %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>

{% endblock %}