{% extends "FrontendBundle:Layout:base.html.twig" %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">My Ads
                    <small>Newest</small>
                </h1>
            </div>
        </div>

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>



        <br>
        <br>

        {% include "FrontendBundle:Layout:ad_list.html.twig" %}
    </div>

{% endblock %}