{% extends "FrontendBundle:Layout:base.html.twig" %}

{% block content %}


    <div class="container">

        {% include 'FrontendBundle:Layout:breadcrumb.html.twig' %}

        <a class="btn btn-info glyphicon glyphicon-chevron-left" href="{{ app.request.headers.get('referer') }}"></a>

        <div class="row">
            <div class="col-md-8">

                <h3>
                    <b>{{ ad.title }}</b>
                </h3>
                <p>Date: <strong>{{ ad.createDate|date("Y-m-d") }}</strong></p> <br>

                <h4><b>Description</b></h4>

                <p>{{ ad.description }}</p>

                <h4>Price: <b>{{ ad.price }} €</b></h4>
            </div>

            <div class="col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">Contact Seller</div>
                    <div class="panel-body">
                        <h3 style="margin-top: 0px;">{{ ad.user.username }}</h3>
                        <p>Location: <strong>Lithuania, {{ ad.user.city.name }}</strong></p>

                        <a href="mailto:{{ ad.user.email }}" class="btn btn-default btn-block">
                            <i class="glyphicon glyphicon-envelope"></i>  Send a message
                        </a>
                        <a href="tel:{{ ad.user.phone }}"class="btn btn-info btn-block">
                            <i class="glyphicon glyphicon-earphone"></i>  {{ ad.user.phone }}
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}