{% extends "FrontendBundle:Layout:base.html.twig" %}

 {% if app.user and app.request.attributes.get('_route') == 'dashboard_main' %}
    {% set isMyAds = true %}
 {% else %}
     {% set isMyAds = false %}
 {% endif %}




{% block content %}

    <div class="container">

        {% include 'FrontendBundle:Layout:breadcrumb.html.twig' %}

        <div class="row">
            <div class="col-lg-6">
                <h3 style="margin-top: 0px;">{% if isMyAds %} My {% endif %}Ads
                    <small>Newest</small>
                </h3>
            </div>
            <div class="col-lg-6">
                {% if isMyAds %}
                    <br>
                    <a class="btn-success btn btn-sm pull-right" href="{{ path('dashboard_new_ad') }}">Create New</a>
                {% endif %}
            </div>
        </div>

        <hr>

        {% include 'FrontendBundle:Layout:ad_list.html.twig' %}

    </div>

{% endblock %}
