{% if ads|length == 0 %}
    <h4>There are no ads </h4>
{% endif %}

{% for ad in ads %}
    <div class="row">
        <div class="col-md-2">

            <b>{{ ad.getUser.getCity.name }}</b> <br>

            {% if ad.getUser.username is defined %}
                    <a href="{{ path('user_ad_view', {id: ad.getUser.getId}) }}">{{ ad.getUser.username }}</a><br>
            {% endif %}

            {% if ad.createDate is defined %}
                {{ ad.createDate|date("Y-m-d") }} <br>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h3 style="margin-top: 0;">
                <b>{{ ad.title }}</b>
            </h3>
            <p>{{ ad.description|length > 50 ? ad.description|slice(0, 100) ~ '...' : ad.description }}</p>
            <a class="btn btn-info btn-sm" href="{{ path('ad_view', {id: ad.getId}) }}">More <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <div class="col-md-2">
            <h4>
                {{ ad.price }} €
            </h4>
        </div>
    </div>
    <hr>
{% endfor %}

{% set maxPages = (ads.count / 5)|round(0, 'ceil') %}
{% set thisPage = app.request.get('page') ?  app.request.get('page') : 1 %}

{% if maxPages > 1 %}

    <div class="text-center">
    <ul class="pagination pagination-sm" style="display:inline-block">
        <li {{ thisPage == 1 ? 'class="disabled"' }}>
            <a href="?page={{thisPage-1 < 1 ? 1 : thisPage-1 }}">«</a>
        </li>

        {% for i in 1..maxPages %}
            <li {{ thisPage == i ? 'class="active"' }}>
                <a href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endfor %}

        <li {{ thisPage == maxPages ? 'class="disabled"' }}>
            <a href="?page={{thisPage+1 <= maxPages ? thisPage+1 : thisPage }}">»</a>
        </li>
    </ul>
    </div>
{% endif %}