<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>1 Col Portfolio - Start Bootstrap Template</title>

    {% include 'FrontendBundle:Layout:css.html.twig' %}
</head>

<body>

{% include 'FrontendBundle:Layout:menu.html.twig' %}

{% block content %}{% endblock %}

{% include 'FrontendBundle:Layout:footer.html.twig' %}

{% include 'FrontendBundle:Layout:javascript.html.twig' %}

</body>



</html>