<ol class="breadcrumb" style="background: rgba(255, 255, 255, 1)">
    <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i> Home</a></li>
    {% if breadcrumbs is defined %}
        {% for breadcrumb in breadcrumbs %}
            {% if loop.last	%}
                <li class="active">{{ breadcrumb.name }}</li>
            {% else %}
                <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ol>