<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Ads</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('index') }}">Ads</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                {% if app.user %}
                    <li>
                        <a href="{{ path('dashboard_main') }}"><b>My ads</b></a>
                    </li>
                    <li>
                        <a href="{{ path('logout') }}"><b>Logout</b></a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('new_user') }}"><b>New User Registration</b></a>
                    </li>
                    <li>
                        <a href="{{ path('login') }}"><b>Login</b></a>
                    </li>
                {% endif %}

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>